{% load static %}

<html>
  {% include 'core/index.html' %}
  <head>
    <link rel="stylesheet" type="text/css" href={% static 'css/styles.css' %} />
  </head>
  <body>
    <form>
      <fieldset class=>
        <div class="row">
        <div>
          <label for="exampleInputEmail1" class="form-label mt-4"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div>
          <label for="exampleInputPassword1" class="form-label mt-4"
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            autocomplete="off"
          />
        </div>
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      
      </fieldset>
    </form>
  </body>
</html>
